---

---

<div class="scroll">
    <a href="#header">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-badge-up" width="60" height="60" viewBox="0 0 24 24" stroke-width="1.5" stroke="#D03B40" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M17 11v6l-5 -4l-5 4v-6l5 -4z" />
          </svg>
    </a>
</div>

<script>
    const component = document.querySelector(".scroll")

    window.addEventListener('scroll', () => {
        if(window.scrollY !== 0){
            component.classList.add("show")
        } else {
            component.classList.remove("show")
        }
    })

</script>

<style>

.scroll{
    position: fixed;
    padding: 0;
    bottom: 40px;
    right: 40px;   
    cursor: pointer;
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.show{
    opacity: 1;
}


</style>