---

---

<section class="ubicacion">

    <h1>¿Sabes dónde estamos?</h1>
    <p>C/ Mayor, 15, Barcelona 08040</p>

    <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11983.848306473512!2d2.115637!3d41.331438!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a49f254e2f5e35%3A0x20591a413cb9e259!2sCarrer%20Major%2C%20Sants-Montju%C3%AFc%2C%2008040%20Barcelona%2C%20Espa%C3%B1a!5e0!3m2!1ses!2sus!4v1725361175841!5m2!1ses!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</section>

<style>

    .ubicacion{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #D03B40;
        color: #DED6C0;
        padding: 20px;
    }

    .maps{
        width: 80%;
        margin-top: 20px;
    }

</style>